/* Error: Undefined variable.
 *    ,
 * 85 |         background: $primary;
 *    |                     ^^^^^^^^
 *    '
 *   classic_store_style.scss 85:21  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 85 \2502          background: $primary;\a    \2502                      ^^^^^^^^\a    \2575 \a   classic_store_style.scss 85:21  root stylesheet";
}
