/* Error: Expected whitespace.
 *     ,
 * 116 | @media screen and(max-width:1199px) {
 *     |                  ^
 *     '
 *   layouts\_footer.scss 116:18  @import
 *   layouts\_layouts.scss 2:9    @import
 *   style.scss 5:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected whitespace.\a     \2577 \a 116 \2502  @media screen and(max-width:1199px) {\a     \2502                   ^\a     \2575 \a   layouts\\_footer.scss 116:18  @import\a   layouts\\_layouts.scss 2:9    @import\a   style.scss 5:9               root stylesheet";
}
