/* Error: Undefined variable.
 *    ,
 * 39 |     background: $bg_white !important;
 *    |                 ^^^^^^^^^
 *    '
 *   extra_styles.scss 39:17  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 39 \2502      background: $bg_white !important;\a    \2502                  ^^^^^^^^^\a    \2575 \a   extra_styles.scss 39:17  root stylesheet";
}
