.o_list_view .o_list_table tbody tr:nth-child(1) {
  animation: infinito_lazy_show 0.1s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(2) {
  animation: infinito_lazy_show 0.2s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(3) {
  animation: infinito_lazy_show 0.3s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(4) {
  animation: infinito_lazy_show 0.4s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(5) {
  animation: infinito_lazy_show 0.5s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(6) {
  animation: infinito_lazy_show 0.6s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(7) {
  animation: infinito_lazy_show 0.7s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(8) {
  animation: infinito_lazy_show 0.8s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(9) {
  animation: infinito_lazy_show 0.9s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(10) {
  animation: infinito_lazy_show 1s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(11) {
  animation: infinito_lazy_show 1.1s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(12) {
  animation: infinito_lazy_show 1.2s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(13) {
  animation: infinito_lazy_show 1.3s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(14) {
  animation: infinito_lazy_show 1.4s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(15) {
  animation: infinito_lazy_show 1.5s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(16) {
  animation: infinito_lazy_show 1.6s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(17) {
  animation: infinito_lazy_show 1.7s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(18) {
  animation: infinito_lazy_show 1.8s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(19) {
  animation: infinito_lazy_show 1.9s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(20) {
  animation: infinito_lazy_show 2s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(21) {
  animation: infinito_lazy_show 2.1s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(22) {
  animation: infinito_lazy_show 2.2s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(23) {
  animation: infinito_lazy_show 2.3s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(24) {
  animation: infinito_lazy_show 2.4s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(25) {
  animation: infinito_lazy_show 2.5s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(26) {
  animation: infinito_lazy_show 2.6s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(27) {
  animation: infinito_lazy_show 2.7s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(28) {
  animation: infinito_lazy_show 2.8s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(29) {
  animation: infinito_lazy_show 2.9s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(30) {
  animation: infinito_lazy_show 3s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(31) {
  animation: infinito_lazy_show 3.1s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(32) {
  animation: infinito_lazy_show 3.2s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(33) {
  animation: infinito_lazy_show 3.3s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(34) {
  animation: infinito_lazy_show 3.4s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(35) {
  animation: infinito_lazy_show 3.5s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(36) {
  animation: infinito_lazy_show 3.6s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(37) {
  animation: infinito_lazy_show 3.7s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(38) {
  animation: infinito_lazy_show 3.8s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(39) {
  animation: infinito_lazy_show 3.9s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(40) {
  animation: infinito_lazy_show 4s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(41) {
  animation: infinito_lazy_show 4.1s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(42) {
  animation: infinito_lazy_show 4.2s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(43) {
  animation: infinito_lazy_show 4.3s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(44) {
  animation: infinito_lazy_show 4.4s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(45) {
  animation: infinito_lazy_show 4.5s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(46) {
  animation: infinito_lazy_show 4.6s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(47) {
  animation: infinito_lazy_show 4.7s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(48) {
  animation: infinito_lazy_show 4.8s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(49) {
  animation: infinito_lazy_show 4.9s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(50) {
  animation: infinito_lazy_show 5s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(51) {
  animation: infinito_lazy_show 5.1s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(52) {
  animation: infinito_lazy_show 5.2s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(53) {
  animation: infinito_lazy_show 5.3s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(54) {
  animation: infinito_lazy_show 5.4s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(55) {
  animation: infinito_lazy_show 5.5s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(56) {
  animation: infinito_lazy_show 5.6s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(57) {
  animation: infinito_lazy_show 5.7s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(58) {
  animation: infinito_lazy_show 5.8s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(59) {
  animation: infinito_lazy_show 5.9s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(60) {
  animation: infinito_lazy_show 6s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(61) {
  animation: infinito_lazy_show 6.1s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(62) {
  animation: infinito_lazy_show 6.2s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(63) {
  animation: infinito_lazy_show 6.3s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(64) {
  animation: infinito_lazy_show 6.4s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(65) {
  animation: infinito_lazy_show 6.5s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(66) {
  animation: infinito_lazy_show 6.6s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(67) {
  animation: infinito_lazy_show 6.7s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(68) {
  animation: infinito_lazy_show 6.8s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(69) {
  animation: infinito_lazy_show 6.9s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(70) {
  animation: infinito_lazy_show 7s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(71) {
  animation: infinito_lazy_show 7.1s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(72) {
  animation: infinito_lazy_show 7.2s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(73) {
  animation: infinito_lazy_show 7.3s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(74) {
  animation: infinito_lazy_show 7.4s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(75) {
  animation: infinito_lazy_show 7.5s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(76) {
  animation: infinito_lazy_show 7.6s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(77) {
  animation: infinito_lazy_show 7.7s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(78) {
  animation: infinito_lazy_show 7.8s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(79) {
  animation: infinito_lazy_show 7.9s ease-in;
}
.o_list_view .o_list_table tbody tr:nth-child(80) {
  animation: infinito_lazy_show 8s ease-in;
}

.o_form_view .o_form_sheet_bg .o_form_sheet {
  animation: infinito_lazy_show 0.5s ease-in;
}

.o_enable_searchview.btn.btn-link.oi.oi-search {
  color: #6c757d !important;
  display: flex !important;
  flex-wrap: wrap !important;
  margin-left: 100px !important;
  margin-top: -30.4px !important;
}

.oi.oi-panel-right {
  height: 15px;
  color: var(--button-bg) !important;
}

.o_kanban_view .oe_kanban_card:nth-child(1), .o_kanban_view .o_kanban_record:nth-child(1) {
  animation: infinito_kanban_shake 0.1s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(2), .o_kanban_view .o_kanban_record:nth-child(2) {
  animation: infinito_kanban_shake 0.2s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(3), .o_kanban_view .o_kanban_record:nth-child(3) {
  animation: infinito_kanban_shake 0.3s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(4), .o_kanban_view .o_kanban_record:nth-child(4) {
  animation: infinito_kanban_shake 0.4s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(5), .o_kanban_view .o_kanban_record:nth-child(5) {
  animation: infinito_kanban_shake 0.5s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(6), .o_kanban_view .o_kanban_record:nth-child(6) {
  animation: infinito_kanban_shake 0.6s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(7), .o_kanban_view .o_kanban_record:nth-child(7) {
  animation: infinito_kanban_shake 0.7s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(8), .o_kanban_view .o_kanban_record:nth-child(8) {
  animation: infinito_kanban_shake 0.8s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(9), .o_kanban_view .o_kanban_record:nth-child(9) {
  animation: infinito_kanban_shake 0.9s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(10), .o_kanban_view .o_kanban_record:nth-child(10) {
  animation: infinito_kanban_shake 1s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(11), .o_kanban_view .o_kanban_record:nth-child(11) {
  animation: infinito_kanban_shake 1.1s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(12), .o_kanban_view .o_kanban_record:nth-child(12) {
  animation: infinito_kanban_shake 1.2s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(13), .o_kanban_view .o_kanban_record:nth-child(13) {
  animation: infinito_kanban_shake 1.3s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(14), .o_kanban_view .o_kanban_record:nth-child(14) {
  animation: infinito_kanban_shake 1.4s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(15), .o_kanban_view .o_kanban_record:nth-child(15) {
  animation: infinito_kanban_shake 1.5s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(16), .o_kanban_view .o_kanban_record:nth-child(16) {
  animation: infinito_kanban_shake 1.6s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(17), .o_kanban_view .o_kanban_record:nth-child(17) {
  animation: infinito_kanban_shake 1.7s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(18), .o_kanban_view .o_kanban_record:nth-child(18) {
  animation: infinito_kanban_shake 1.8s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(19), .o_kanban_view .o_kanban_record:nth-child(19) {
  animation: infinito_kanban_shake 1.9s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(20), .o_kanban_view .o_kanban_record:nth-child(20) {
  animation: infinito_kanban_shake 2s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(21), .o_kanban_view .o_kanban_record:nth-child(21) {
  animation: infinito_kanban_shake 2.1s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(22), .o_kanban_view .o_kanban_record:nth-child(22) {
  animation: infinito_kanban_shake 2.2s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(23), .o_kanban_view .o_kanban_record:nth-child(23) {
  animation: infinito_kanban_shake 2.3s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(24), .o_kanban_view .o_kanban_record:nth-child(24) {
  animation: infinito_kanban_shake 2.4s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(25), .o_kanban_view .o_kanban_record:nth-child(25) {
  animation: infinito_kanban_shake 2.5s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(26), .o_kanban_view .o_kanban_record:nth-child(26) {
  animation: infinito_kanban_shake 2.6s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(27), .o_kanban_view .o_kanban_record:nth-child(27) {
  animation: infinito_kanban_shake 2.7s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(28), .o_kanban_view .o_kanban_record:nth-child(28) {
  animation: infinito_kanban_shake 2.8s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(29), .o_kanban_view .o_kanban_record:nth-child(29) {
  animation: infinito_kanban_shake 2.9s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(30), .o_kanban_view .o_kanban_record:nth-child(30) {
  animation: infinito_kanban_shake 3s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(31), .o_kanban_view .o_kanban_record:nth-child(31) {
  animation: infinito_kanban_shake 3.1s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(32), .o_kanban_view .o_kanban_record:nth-child(32) {
  animation: infinito_kanban_shake 3.2s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(33), .o_kanban_view .o_kanban_record:nth-child(33) {
  animation: infinito_kanban_shake 3.3s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(34), .o_kanban_view .o_kanban_record:nth-child(34) {
  animation: infinito_kanban_shake 3.4s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(35), .o_kanban_view .o_kanban_record:nth-child(35) {
  animation: infinito_kanban_shake 3.5s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(36), .o_kanban_view .o_kanban_record:nth-child(36) {
  animation: infinito_kanban_shake 3.6s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(37), .o_kanban_view .o_kanban_record:nth-child(37) {
  animation: infinito_kanban_shake 3.7s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(38), .o_kanban_view .o_kanban_record:nth-child(38) {
  animation: infinito_kanban_shake 3.8s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(39), .o_kanban_view .o_kanban_record:nth-child(39) {
  animation: infinito_kanban_shake 3.9s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(40), .o_kanban_view .o_kanban_record:nth-child(40) {
  animation: infinito_kanban_shake 4s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(41), .o_kanban_view .o_kanban_record:nth-child(41) {
  animation: infinito_kanban_shake 4.1s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(42), .o_kanban_view .o_kanban_record:nth-child(42) {
  animation: infinito_kanban_shake 4.2s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(43), .o_kanban_view .o_kanban_record:nth-child(43) {
  animation: infinito_kanban_shake 4.3s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(44), .o_kanban_view .o_kanban_record:nth-child(44) {
  animation: infinito_kanban_shake 4.4s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(45), .o_kanban_view .o_kanban_record:nth-child(45) {
  animation: infinito_kanban_shake 4.5s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(46), .o_kanban_view .o_kanban_record:nth-child(46) {
  animation: infinito_kanban_shake 4.6s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(47), .o_kanban_view .o_kanban_record:nth-child(47) {
  animation: infinito_kanban_shake 4.7s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(48), .o_kanban_view .o_kanban_record:nth-child(48) {
  animation: infinito_kanban_shake 4.8s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(49), .o_kanban_view .o_kanban_record:nth-child(49) {
  animation: infinito_kanban_shake 4.9s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(50), .o_kanban_view .o_kanban_record:nth-child(50) {
  animation: infinito_kanban_shake 5s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(51), .o_kanban_view .o_kanban_record:nth-child(51) {
  animation: infinito_kanban_shake 5.1s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(52), .o_kanban_view .o_kanban_record:nth-child(52) {
  animation: infinito_kanban_shake 5.2s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(53), .o_kanban_view .o_kanban_record:nth-child(53) {
  animation: infinito_kanban_shake 5.3s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(54), .o_kanban_view .o_kanban_record:nth-child(54) {
  animation: infinito_kanban_shake 5.4s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(55), .o_kanban_view .o_kanban_record:nth-child(55) {
  animation: infinito_kanban_shake 5.5s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(56), .o_kanban_view .o_kanban_record:nth-child(56) {
  animation: infinito_kanban_shake 5.6s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(57), .o_kanban_view .o_kanban_record:nth-child(57) {
  animation: infinito_kanban_shake 5.7s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(58), .o_kanban_view .o_kanban_record:nth-child(58) {
  animation: infinito_kanban_shake 5.8s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(59), .o_kanban_view .o_kanban_record:nth-child(59) {
  animation: infinito_kanban_shake 5.9s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(60), .o_kanban_view .o_kanban_record:nth-child(60) {
  animation: infinito_kanban_shake 6s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(61), .o_kanban_view .o_kanban_record:nth-child(61) {
  animation: infinito_kanban_shake 6.1s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(62), .o_kanban_view .o_kanban_record:nth-child(62) {
  animation: infinito_kanban_shake 6.2s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(63), .o_kanban_view .o_kanban_record:nth-child(63) {
  animation: infinito_kanban_shake 6.3s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(64), .o_kanban_view .o_kanban_record:nth-child(64) {
  animation: infinito_kanban_shake 6.4s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(65), .o_kanban_view .o_kanban_record:nth-child(65) {
  animation: infinito_kanban_shake 6.5s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(66), .o_kanban_view .o_kanban_record:nth-child(66) {
  animation: infinito_kanban_shake 6.6s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(67), .o_kanban_view .o_kanban_record:nth-child(67) {
  animation: infinito_kanban_shake 6.7s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(68), .o_kanban_view .o_kanban_record:nth-child(68) {
  animation: infinito_kanban_shake 6.8s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(69), .o_kanban_view .o_kanban_record:nth-child(69) {
  animation: infinito_kanban_shake 6.9s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(70), .o_kanban_view .o_kanban_record:nth-child(70) {
  animation: infinito_kanban_shake 7s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(71), .o_kanban_view .o_kanban_record:nth-child(71) {
  animation: infinito_kanban_shake 7.1s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(72), .o_kanban_view .o_kanban_record:nth-child(72) {
  animation: infinito_kanban_shake 7.2s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(73), .o_kanban_view .o_kanban_record:nth-child(73) {
  animation: infinito_kanban_shake 7.3s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(74), .o_kanban_view .o_kanban_record:nth-child(74) {
  animation: infinito_kanban_shake 7.4s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(75), .o_kanban_view .o_kanban_record:nth-child(75) {
  animation: infinito_kanban_shake 7.5s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(76), .o_kanban_view .o_kanban_record:nth-child(76) {
  animation: infinito_kanban_shake 7.6s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(77), .o_kanban_view .o_kanban_record:nth-child(77) {
  animation: infinito_kanban_shake 7.7s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(78), .o_kanban_view .o_kanban_record:nth-child(78) {
  animation: infinito_kanban_shake 7.8s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(79), .o_kanban_view .o_kanban_record:nth-child(79) {
  animation: infinito_kanban_shake 7.9s ease-in;
}
.o_kanban_view .oe_kanban_card:nth-child(80), .o_kanban_view .o_kanban_record:nth-child(80) {
  animation: infinito_kanban_shake 8s ease-in;
}

@keyframes infinito_lazy_load {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes infinito_lazy_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes infinito_lazy_up {
  0% {
    margin-top: 200px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes infinito_kanban_shake {
  0% {
    transform: rotate(-5deg);
    opacity: 0;
  }
  20% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-3deg);
  }
  60% {
    transform: rotate(3deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  90% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

/*# sourceMappingURL=views.css.map */
